h2 {
    background-color: #FF0000;
    color: #FFF;
    width: 100px;
}
.violet {
background-color: #4600FF;
width: 300px;
height: 50px;
}
.yellow {
background: #FF0;
width: 300px;
height: 40px;
}
hr {
height: 2px;
width: 350px;
background-color: #808080;
margin-left: 0px;
}
