.one {
    background-color: #F00;
    height: 40px;
    width: 50px;
}

.two {
    background-color: #FF8C00;
    height: 40px;
    width: 100px;
}

.three {
    background-color: #4600FF;
    height: 40px;
    width: 175px;
}

.four {
    background-color: #FF733A;
    font-size: 60px;
    height: 100px;
    padding: 5px 50px 0px 30px;
    width: 275px;
}

hr {
background-color: #000;
height: 3px;
margin-left: 0px;
width: 500px;
}
