div {
background-color: #D6D7BE;
width: 400px;
padding: 0px 0px 20px 10px;
}

h1 {
    color: #522300;
    padding-top: 10px;
}

h2 {
    color: #000:
}

h3 {
    color: #7F4433;
}

a {
    color: #5A5E24;
}
